<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse" role="navigation">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle Navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{{ site.baseurl }}/">
		{{ site.title }}
	</a>
	<div id="navCollapse" class="collapse navbar-collapse justify-content-end">
		<ul class="navbar-nav ml-auto">

			{% for p in site.pages %}
				{% if p.nav %}
					{% if page.url == p.url %}
						<li class="nav-item active">
					{% else %}
						<li class="nav-item">
					{% endif %}
						<a class="nav-link" href="{{ p.url }}">{{ p.title }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if page.dropdown %}
				<li class="nav-item dropdown active">
			{% else %}
				<li class="nav-item dropdown">
			{% endif %}
				<a href="#" id="navDropdownLink" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu inverse-dropdown" aria-labelledb="navDropdownLink">
					{% for p in site.pages %}
						{% if p.dropdown %}
							{% if page.url == p.url %}
						  	<a href="{{ p.url }}" class="nav-link dropdown-item active">
						  		{{ p.title }}
						  	</a>
							{% else %}
						  	<a href="{{ p.url }}" class="nav-link dropdown-item">
						  		{{ p.title }}
						  	</a>
					  	{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			</li>

		</ul>
		
	</div>

</nav>