// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

// Utilities
@import "bootstrap/mixins/breakpoints";
@import "bootstrap/mixins/hover";
@import "bootstrap/mixins/image";
@import "bootstrap/mixins/badge";
@import "bootstrap/mixins/resize";
@import "bootstrap/mixins/screen-reader";
@import "bootstrap/mixins/size";
@import "bootstrap/mixins/reset-text";
@import "bootstrap/mixins/text-emphasis";
@import "bootstrap/mixins/text-hide";
@import "bootstrap/mixins/text-truncate";
@import "bootstrap/mixins/transforms";
@import "bootstrap/mixins/visibility";

// // Components
//@import "bootstrap/mixins/alert";
@import "bootstrap/mixins/buttons";
//@import "bootstrap/mixins/cards";
//@import "bootstrap/mixins/pagination";
@import "bootstrap/mixins/lists";
//@import "bootstrap/mixins/list-group";
@import "bootstrap/mixins/nav-divider";
//@import "bootstrap/mixins/forms";
@import "bootstrap/mixins/table-row";

// // Skins
@import "bootstrap/mixins/background-variant";
@import "bootstrap/mixins/border-radius";
@import "bootstrap/mixins/gradients";

// // Layout
@import "bootstrap/mixins/clearfix";
// @import "bootstrap/mixins/navbar-align";
@import "bootstrap/mixins/grid-framework";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins/float";
