// Bootstrap Starter Template with navbar floating right

body {
    padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-nav {
	float: right !important;
}