// Bootstrap Starter Template with navbar floating right

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.inverse-dropdown {
  border: none;
  background-color: #222;
  border-color: #080808;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 1px 5px rgba(55,58,60,.5);
  &>a {
    color: #999;
    &:hover {
      color: #fff;
      background-color: inherit;
    }
  }
}

.dropdown-item.active {
  color: #fff;
  background-color: inherit;
}

.navbar {
  box-shadow: 0px 1px 5px rgba(55,58,60,.5);
}